@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Nunito"),
    url("/fonts/static/Nunito-Light.ttf") format("ttf"),
    url("/fonts/Nunito-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local(font-family "SF Pro Display"),
    url("/fonts/SFPRODISPLAYREGULAR.OTF") format("OTF"),

}

* {

  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: "SF Pro Display", "Arial", sans-serif;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  background: #12125C;
  width: 100%;
  max-width: 361px;
  margin: 0 auto;
}

header {
  height: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.navigation-list {
  list-style-type: none;

}

.navbar-toggler {
  text-decoration: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: baseline;
  cursor: pointer;

}

#navigation {
  display: none;
  position: absolute;
  align-items: center;
  background-color: #000072;
  margin: 0 auto;
  top: 70px;
  border-radius: 10px;
  width: 100%;
  max-width: 361px;

}

.nav__link {
  text-decoration: none;
  color: #FFFFFF;
}

.navigation-item {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  margin-left: 16px;
  padding-top: 30px;
  display: flex;
  align-items: center;

  color: #FFFFFF;

  opacity: 0.8;
  flex: none;
  order: 6;
  flex-grow: 0;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #eb6f4a;
}

.navigation-item:last-child {
  padding-bottom: 35px;
}


/*Header logo*/

.active {
  width: 156px;
  height: 26px;
  text-decoration: none;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: white;
  padding: 0;
  margin: 0;
}

.logo-text {
  width: 160px;
  height: 20px;
  display: block;
  padding: 0;
  margin: 0;
}

.navbar-toggler:active {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  background-image: url("../img/btn-click.png");

}

.navbar-toggler {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  background-image: url("../img/btn.png");

}

.navbar-toggler::before {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  background-image: url("../img/btn.png");
}

.navbar-toggler:active::before {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 0px;
  background-image: url("../img/btn-click.png");

}



.color-red {
  color: red;
}

#logo {
  width: 155px;
  height: 25px;
  display: grid;
  grid-template-columns: 25px 120px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logo-img {
  padding: 0;
  margin: 0;
}

/*Header and checkbox*/
.menu {
  width: 100%;
}

.menu-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.active {
  margin-left: 15px;
  margin-top: 17px;
}

.navbar-toggler {
  margin-right: 15px;
  margin-top: 12px;
}

/*Main title*/
.main-title {
  font-family: 'SF Pro Display', "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
}

/*main text*/
.main-shot-text {
  font-family: 'SF Pro Display', "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #71768E;
  padding-top: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;
}

p {
  font-family: 'SF Pro Display', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #A0A3B5;
  padding-left: 16px;
  padding-right: 16px;
}

.text-paragraf {
  margin-top: 25px;
}

/*Image*/
.main-image-lago {
  display: block;
  margin: 0 auto;
}

/*Button*/
.btn-link {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
  text-align: center;
  width: 282px;
  height: 63px;
  background: #E11D2E;
  border-radius: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
}

.text-link-about {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 15px;
  opacity: 0.9;
}

.text-address {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.05);
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.2);
  padding: 7px 12px;
}

.text-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);

}

.open-menu {
  display: block;
}

/*Warnng-stripe*/
.warning-stripe {
  height: 30px;
  width: 100%;
  margin-top: 65px;
  margin-top: 20px;
  background: url("../img/stripe.jpg"), #5A4039;
  background-repeat: repeat-x;
}

.investors-link {
  display: block;
  width: 321.12px;
  height: 70px;
  align-items: center;
  margin: 20px auto;
}

/* Sextion Menu*/

.understanding-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  color: #FFFFFF;
  margin-bottom: 0;

}

.icon-list {
  margin: 0;
  list-style-type: none;
  display: flex;
}

.icon1 {
  position: relative;
  top: 60px;
  left: -90px;
}

.icon2 {

  position: relative;
  top: 40px;
  left: 80px;

}

.icon3 {
  position: relative;
  top: 300px;
  left: 50px;
}

/*Button*/
.btn_find {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 45px 15px;
  gap: 15px;
  width: 260px;
  height: 46px;
  background: #E11D2E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.9;
  margin-top: 94;
  text-decoration: none;
}

.btn_find:hover{
  color:rgb(66, 10, 234)
}
.title_one{
 margin-top: 150px;
}
.list-block-text{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-block-text-item{
  display: flex;
flex-direction: column;
justify-content: left;
padding: 20px 35px 40px 20px;
gap: 20px;
width: 325px;
background: #384D70;
border-radius: 20px;
margin-top: 30px;
}
.icon-item{
 
background-image: url("../img/icon4.png"), #E11D2E;
border-radius: 10px;
}
.list-title{
  font-weight: 600;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.text-subtext{
  font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;

color: #FFFFFF;

opacity: 0.3;
}
.text-item{
  font-weight: 500;
font-size: 19px;
line-height: 23px;
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.7);
}